<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="flaskdemo" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python38\python.exe|C:\Python38\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
    <add key="WSGI_HANDLER" value="flaskdemo.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\flaskdemo" />
  </appSettings>
</configuration>
